<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prework.mytodoapp.todoornottodo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SetTimeActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activities.ChooseTimeActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activities.ChooseDateActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>

        <receiver android:name=".receivers.TaskTimeReceiver" />
        <receiver android:name=".receivers.NotificationCancelReceiver">
            <intent-filter android:priority="999">
                <action android:name="com.prework.cancel" />
            </intent-filter>
        </receiver>

        <service android:name=".services.RingtonePlayingService" />

    </application>

</manifest>